ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=Xb7hH8MSUJpSbSDYk0k2
ELEVENLABS_TTS_MODEL=eleven_multilingual_v2
ELEVENLABS_STT_MODEL=scribe_v1
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_ENABLE_VOICE=true

